.app-navbar {
    background-color: var(--background-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .app-navbar .navbar-brand {
    color: var(--text-color);
    font-weight: bold;
  }
  
  .navbar-icons {
    display: flex;
    align-items: center;
  }
  
  .navbar-icon {
    color: var(--text-color);
    margin-left: 15px;
    cursor: pointer;
  }
  
  .navbar-icon:hover {
    color: #F6547B; /* Your accent color */
  }